*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(168, 244, 205, 0.529);
    display: flex;
    flex-direction: column;
    height: 100vh;

}
a{
    text-decoration: none;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}
.btn{
    padding: 5px 10px;
    background-color: darkgray;
    border-radius: 5px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: background-color 0.2s;
    transition: filter 0.2s;
}
.btn__text--search{
    padding-left: 0.2rem;
}
.input{
    height: 1.5rem;
    padding: 0 2px;
    border-color: rgba(21, 176, 176, 0.578);
    letter-spacing: 2px;
}
.section{
    background-color: rgba(125, 246, 184, 0.4);
    padding: 10px;
    margin: 5px;
}
.input:focus{
    outline: none;
    border:2px solid rgb(0, 100, 100);
    box-shadow: 0 0 5px rgb(0, 100, 100);
}
.input::placeholder{
    color: rgb(21, 176, 176);
    font-family: 'Roboto' , sanas-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 300;
}
.header{
    background-color: rgb(54, 229, 139);
    margin-bottom: 3em;
}

.header-main{
    height: 5em;
    padding-inline: 10%;
    display: flex;
    align-items: center;
}

.header__icon{
    width: 3em;
    margin-right: 1em;
}

.header__img{
    display:block;
    width: 100%;    
}

.header__title{
    max-width: 60%;
    font-size: 2em;
}
.btn--toggle{
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    display: none;
}
.btn--toggle:hover{
    cursor: pointer;
    background-color: rgb(0, 121, 121);
    color: rgb(103, 242, 233);
}
.nav{
    background-color: rgb(122, 212, 166);
    padding-inline: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid;
    border-color: rgb(0, 163, 163) ;
}
.nav-menu{
    width: 40%;
}
.nav-menu__items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav-menu__link{
    display: flex;
    width: fit-content;
    word-wrap: normal;
    text-align: center;
    color: rgb(49, 32, 9);
    padding: 5px 15px;
    transition:  background-color 0.2s;
    border-radius: 4px;
}
.nav-menu__link:hover{
    background-color: rgb(53, 182, 116);
}
.nav-menu__link--active{
    background-color: rgb(53, 182, 116);
    color: aliceblue;
}
.btn--instructions{
    color: rgb(246, 244, 241);
    background-color: rgb(0, 100, 100);
    padding: 8px 20px;
}
.btn--instructions:hover{
    background-color: rgb(2, 133, 133);
}
.container{
    padding-inline: 10%;
    margin-block: 30px;
}
.section-enter{
    margin-block: 10px;
}
.section-enter__form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-enter__text{
    display: block;
    margin: 5px 0;
}
.input--section-enter{
    width: 100%;
    max-width: 800px;
}
.btn--section-enter{
    color: rgb(246, 244, 241);
    background-color: rgb(48, 183, 113);
    padding: 8px 20px;
    border:2px solid rgb(153, 247, 102);
    box-shadow: 0 0 5px rgb(153, 247, 102);
}
.btn--section-enter:hover{
    cursor: pointer;
    background-color:  rgb(33, 126, 78);
}
.section--output{
    position: relative;
    z-index: 0;
}
.output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-print{
    margin: 10px;
    position: relative;
}
.tree-print__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-print__tree-string{
    letter-spacing: 2px;
    font-weight: 600;
    background-color: rgb(105, 206, 154);
    margin: 10px;
    padding-inline: 1rem;
    border-radius: 1rem;
    font-style: italic;
}
.tree-attributes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 243, 195);
}
.tree-information{
    padding: 10px;
    min-width:15rem;
    display: flex;
    align-items: center;
}
.element-information{
    padding: 10px;
    width: 17rem;
}
.element-information__form{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.element-information__element-founded{
    margin-top: 10px;
    margin-bottom:5px;
}
.element-information__element{
    letter-spacing: 2px;
    font-weight: 600;
    background-color: rgb(105, 206, 154);
    padding-inline: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}
.element-information__attributes{
    position: relative;
}
.input--element-information{
    width: 80%;
}
.btn--search-element{
    color: rgb(246, 244, 241);
    background-color: rgb(39, 149, 92);
    padding: 4px 16px;
    border:2px solid rgb(153, 247, 102);
    box-shadow: 0 0 5px rgb(153, 247, 102);
}
.btn--search-element:hover{
    cursor: pointer;
    background-color:  rgb(24, 94, 58);
}
.attribute{
    margin-block: 4px;
}

.attribute__name{
    font-weight: 700;
}
.exception{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: rgb(126, 31, 31);
    font-weight: 600;
    width: max-content;
    font-size: 14px;
}
.exception--enter-tree{
    font-size: 4rem;
    width: auto;
    color:  rgba(24, 94, 58, 0.464);
    letter-spacing: 0.2rem;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    background-color: rgb(49, 192, 118);
    padding: 1rem 15%;
    font-size: 12px;
}
.footer__text{
    text-align: center;
}
.footer__creators{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__creators-text{
    margin-right: 10px ;
    align-self: flex-start;
}
.footer__tec-copyright{
    margin-top: 20px;
    width: max-content;
}
.btn--disabled{
    pointer-events: none;
    filter: grayscale(75%);
    border:none;
    box-shadow: none;
}
.footer__link{
    color: rgb(18, 18, 183);
    font-weight: 600;
}
.footer__link:visited{
    color: rgb(18, 18, 183);
}



@media  screen and (max-width: 992px) {
    .nav-menu{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    .header-main{
        height: 3.5em;
        position: static;
    }
    .header__title{
        display: none;
    }
    .header__icon{
        width: 2.5em;
    }
    .btn--toggle{
        display: flex;
    }
    .nav{
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: -100%;
        transition: left 0.3s;
        scroll-behavior: auto;
        z-index: 5;
    }
    .nav-menu{
        margin-top: 1rem;
    }
    .nav-menu__items{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu__link{
        margin-block:3px;
    }
    .btn--instructions{
        margin-top: 50px;
    }
    .nav--show{
        left:0;
        transition: left 0.3s;
    }
    .section-enter__form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .tree-attributes{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    .tree-attributes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .element-information{
        width: auto;
    }
    .tree-information{
        width: auto;
    }
    .section-enter__form{
        flex-direction: column;
    }
}


